<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Doctrine KeyValueStore">
            <directory suffix="Test.php">tests/Doctrine/Tests/KeyValueStore</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib/Doctrine/KeyValueStore</directory>
        </whitelist>
    </filter>

    <php>
        <var name="DOCTRINE_KEYVALUE_AZURE_AUTHSCHEMA" value="sharedlite" />
        <var name="DOCTRINE_KEYVALUE_AZURE_NAME" value="" />
        <var name="DOCTRINE_KEYVALUE_AZURE_KEY" value="" />
    </php>
</phpunit>
